<div class="d-flex flex-column justify-content-center align-items-stretch" style="min-height: 93.4vh;">
    <div [ngClass]="darkMode ? 'bg-darktheme-dp-1' : 'border'" style="flex-grow: 4;" class="info-element shadow ml-4 mt-4 mr-4 mb-3">
        <app-merenda-chart></app-merenda-chart>
    </div>
    <div [ngClass]="darkMode ? 'bg-darktheme-dp-1' : 'border'" style="flex-grow: 1;" class="info-element shadow ml-4 mt-4 mr-4 mb-3">
        <app-merenda-options-bar></app-merenda-options-bar>
    </div>
</div>