<div class="zea-logo" (mouseenter)="transformCompanyLogo()" (mouseleave)="transformCompanyLogo()" (click)="onCompanyLogoClick()">
    <svg id="companylogo" width="42" height="42" viewBox="0 13 37 16">
        <g id="zeabornLogo">
            <path id="logo-bar-one" class="zea-logo-bar bar-one" d="M0,3.324 l36.888,0 l0,10.157 l-36.888,0 l0,-10.157 Z"></path>
            <path id="logo-bar-two" class="zea-logo-bar bar-two" d="M36.888,15.56 c0,5.64 -4.508,10.156 -10.085,10.156 l-26.803,0 c0,-5.641 4.507,-10.156 10.085,-10.156 l26.803,0 Z"/>
            <path id="logo-bar-three" class="zea-logo-bar bar-three" d="M0,38.03 l36.888,0 l0,-10.157 l-36.888,0 l0,10.157 Z"></path>
        </g>
    </svg>
</div>