.selector {
    font-size: 20px;
    font-weight: 600;
    width: 280px;
    transition: height 0.3s ease-in-out;
    border-radius: 0.5rem;
    overflow-x: hidden;
    cursor: pointer;
    z-index: 5;
}

::-webkit-scrollbar {
    width:8px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px; 
}

.selector-expanded {
    height: 300px;
    overflow-y: scroll;
}

.selector-collapsed {
    height: 38px;
    overflow-y: hidden;
}

.selector-classic-theme {
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: white;
}

.selector-dark-theme {
    background-color: #505050;
    border-style: none;
    color: #E4E4E4;
}

.selector li {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    z-index: 2;
}

.selector li:hover {
    background-color: #0099EE;
    /* background-image: linear-gradient(to right, #505050 , #0099EE); */
}